extends layout

block content
  h1= title
  form(method="POST")
    p Are you sure you want to delete this instance for #{bookinstance.book.title}, ID: #{bookinstance._id}?
    input(type="hidden" value=bookinstance._id name="bookinstanceid")
    button.btn.btn-primary(type="submit") Delete